#### Importing libraries

In [26]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
# from plotly.offline import init_notebook_mode, iplot
# import plotly.graph_objs as go
import datetime as dt

#### Load the plan crashes info dataset

In [3]:
df = pd.read_csv('planecrashinfo.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2019 entries, 0 to 2018
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  2019 non-null   object
 1   time                  2019 non-null   object
 2   location              2019 non-null   object
 3   operator              2019 non-null   object
 4   flight_no             2019 non-null   object
 5   route                 2019 non-null   object
 6   ac_type               2019 non-null   object
 7   registration          2019 non-null   object
 8   cn_ln                 2019 non-null   object
 9   all_aboard            2019 non-null   object
 10  passengers_aboard     2019 non-null   object
 11  crew_aboard           2019 non-null   object
 12  all_fatalities        2019 non-null   object
 13  passenger_fatalities  2019 non-null   object
 14  crew_fatalities       2019 non-null   object
 15  ground                2019 non-null   object
 16  summary               2019 non-null   object
dtypes: object(17)
memory usage: 268.3+ KB

##### Columns explaination:
- Date - Date of accident
- Time - Local time, in 24 hr. in the format hh:mm
- Location - Location of the accident
- Operator - Airline or operator of the aircraft
- Flight - Flight number assigned by the aircraft operator
- Route - Complete or partial route flown prior to the accident
- Type - Aircraft type
- Registration - ICAO registration of the aircraft
- cn/In - Construction or serial number / Line or fuselage number
- Total Aboard - Total people aboard
- Passengers Aboard - Passengers aboard
- Crew Aboard - Crew aboard
- Total Fatalities - Total fatalities
- Passengers Fatalities - Passengers fatalities
- Crew Fatalities - Crew fatalities
- Ground - Total killed on the ground
- Summary - Brief description of the accident and cause if known

In [9]:
df.head()

,date,time,location,operator,flight_no,route,ac_type,registration,cn_ln,all_aboard,passengers_aboard,crew_aboard,all_fatalities,passenger_fatalities,crew_fatalities,ground,summary
0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...

#### Exploring the plane crashes dataset from 1908-2000

##### The year with Most Fatalities

In [23]:
a = df.groupby('date')['all_fatalities'].count().reset_index()
b = df.all_fatalities.max()
print(f'\033[94m The highest number of fatalities = {b}.\n')
print(f'\033[94m {a[50:70]}')

 The highest number of fatalities = ?.

               date  all_fatalities
50  April 11, 1952               1
51  April 11, 1955               1
52  April 12, 1960               1
53  April 13, 1947               1
54  April 13, 1950               1
55  April 13, 1954               2
56  April 14, 1931               1
57  April 14, 1945               1
58  April 14, 1953               2
59  April 14, 1958               1
60  April 14, 1960               1
61  April 15, 1927               1
62  April 15, 1936               1
63  April 15, 1948               1
64  April 15, 1950               1
65  April 15, 1957               1
66  April 16, 1953               1
67  April 17, 1928               1
68  April 17, 1936               1
69  April 17, 1944               1